@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.cont {
  @apply bg-white border-slate-300 border-solid p-5 text-gray-500 shadow-lg
}

.flexcol {
  @apply flex flex-col justify-center items-center
}

.flexrow {
  @apply flex justify-center items-center
}

h1 {
  @apply tracking-wider text-2xl font-extrabold
}

h2 {
  @apply tracking-widest text-xl font-bold
}

img.main-logo {
  max-width: 60px;
}

button, a {
  cursor: pointer;
}

.slow-animation {
  transition-duration: 500ms;
}

::-webkit-scrollbar {
  @apply bg-zinc-900 w-2
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-500
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600
}