@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

:root {
  --swiper-theme-color: white !important;
}

.cont {
  @apply bg-white border-slate-300 border-solid p-5 text-gray-500 shadow-lg
}

.flexcol {
  @apply flex flex-col justify-center items-center
}

.flexrow {
  @apply flex justify-center items-center
}

h1 {
  @apply tracking-wider text-2xl font-extrabold
}

h2 {
  @apply tracking-widest text-xl font-bold
}

button, a {
  cursor: pointer;
}

.slow-animation {
  transition-duration: 500ms;
}

::-webkit-scrollbar {
  @apply bg-zinc-900 w-2
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-500
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600
}

.swiper.tanques {
  @apply max-w-[300px]
}

.swiper-button-prev, .swiper-button-next {
  @apply scale-50 opacity-50 hover:opacity-100
}

.swiper-pagination {
  @apply opacity-50
}

.anchor {
  @apply -top-[100px] absolute
}